<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome" />
  <parameter name="metaMaskUrl" value="moz-extension://cf97d3de-12ef-4670-91e7-65be9a37e5bb/home.html#initialize/welcome" />
  <parameter name="AppUrl" value="https://boloro-frontend-dev.devtomaster.com/" />
    <classes>
      <class name="testCases.BottomAndTopMenu"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
